/* Обнуление */ 
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    background-color: #FFFFFF;
    font-family: Roboto;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
._container {
    max-width: 1270px;
    margin: 0px auto
}
/*--------------HEADER-------------------------*/
.header {
    background-color: #FFFFFF;
}
.header__container {
    padding: 30px 0px;
    text-align: center;
    position: relative;
}
.header__item-start {
    display: inline;
    position: absolute;
    left: 0;
}
.header__item-start > *:last-child {
    margin-left: 24px;
}
.header__item {
    text-transform: uppercase;
    color: inherit;
    font-size: 13px;
    line-height: 117%;
    letter-spacing: 1.4px;
}
.header__item-end {
    position: absolute;
    right: 0;
}
.header__logo {
    
}
@media (max-width:414px) {
    .header__logo {
        opacity: 0.5;
    }
}
/*--------------PAGE-------------------------*/
.page {
}
.page__system {
}
.page__inspires {
}
.page__products {
}
.page__office {
}
.page__hardway {
}
.page__team {
}
.page__design {
}
/*-------------------------------------------*/
.system {
    position: relative;
    text-align: center;
    height: 504px;
}
.system__content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 440px;
    height: 150px;
    color: #FFFFFF;
}
.system__content > *:first-child {
    padding-bottom: 12px;
}
.system__content > *:last-child {
    display: block;
    padding-top: 28px;
}
.system__title {
    font-size: 43px;
    line-height: 106%;
}
.system__text {
    font-size: 15px;
    line-height: 117%;
}
.sysyem__link {
    color: inherit;
    font-size: 13px;
    line-height: 117%;
    letter-spacing: 1.4px;
}
.system__image {
}
/*-------------------------------------------*/
.inspires {
    padding: 80px 0px 130px 0px;
}
.inspires__container {
}
.inspires__container > *:first-child {
    padding-bottom: 81px;
}
.inspires__header {
    text-align: center;
}
.inspires__header > *:first-child {
    margin-bottom: 23px;
}
.inspires__header > *:last-child {
    display: block;
    margin-top: 26px;
}
.inspires__title {
    font-size: 43px;
    line-height: 135%;
}
.inspires__text {
    color: #A0A0A0;
    line-height: 171%;
}
.inspires__header .inspires__link {
    color: inherit;
    font-size: 13px;
    line-height: 162%;
    text-transform: uppercase;
}
.inspires__body {
    display: flex;
    flex-wrap: wrap;
}
@media (max-width:1190px) {
    .inspires__body {
        justify-content: center;
    }
    .inspires__body > *:last-child {
        margin-top: 50px;
    }
}
.inspires__column {
    flex: 0 1 50%;
    text-align: center;
}
.inspires__column > *:first-child {
    margin-bottom: 48px;
}
.inspires__column > *:last-child {
    margin-top: 23px;
}
.inspires__image {

}
.inspires__name {
    font-size: 27px;
    line-height: 111%;
}
.inspires__column .inspires__link {
    font-size: 13px;
    line-height: 117%;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}
/*-------------------------------------------*/
.products {
}
.products__contsiner {
    padding-bottom: 95px;
}
.products__header {
    text-align: center;
}
.products__header > *:last-child {
    margin-top: 16px;
}
.products__title {
    font-size: 33px;
    line-height: 109%;
}
.products__text {
    color: #A0A0A0;
    font-size: 15px;
    line-height: 117%;
    letter-spacing: 0.8px;
}
.products__body {
    margin-top: 83px;
    display: flex;
    flex-wrap: wrap;
}
.products__column {
    flex-direction: column;
    flex: 0 1 25%;
}
@media (max-width:1234px) {
    .products__column {
        flex: 0 1 50%;
        padding: 15px 0px;
    }
    .products__body {
        text-align: center;
    }
}
@media (max-width:615px) {
    .products__column {
        flex: 0 1 100%;
    }
}
.products__column > *:first-child {
    display: inline-block;
    padding-bottom: 23px;
}
.products__image {
}
.products__name , .products__price {
    color: #A0A0A0;
    font-size: 13px;
    line-height: 170%;
    letter-spacing: 0.7px;
}
/*-------------------------------------------*/
.office {
    position: relative;
    text-align: center;
    width: 100%;
}
.office__header {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #FFFFFF;
    margin-top: 174px;
}
.office__header > *:first-child {
    margin-bottom: 14px;
}
.office__header > *:last-child {
    margin-top: 30px;
}
.office__title {
    font-size: 66px;
    line-height: 106%;
}
.office__text {
    line-height: 117%;
    letter-spacing: 0.8px;
}
.office__link {
    display: inline-block;
    font-size: 13px;
    line-height: 117%;
}
.office__image {
}
/*-------------------------------------------*/
.hardway {
}
.hardway__container {
    text-align: center;
    padding: 116px 0px 79px 0px;
}
.hardway__container > *:first-child {
    margin-bottom: 23px;
}
.hardway__container > *:last-child {
    margin-top: 38px;
}
.hardway__header-block {
}
.header-block {
}
.header-block__title {
    font-size: 34px;
    line-height: 106%;
}
.header-block__text {
    margin-top: 23px;
    color: #A0A0A0;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.8px
}
.hardway__image {
}
/*-------------------------------------------*/
.team {
}
.team__container {
}
.team__body > *:not(:first-child) {
    margin-top: 10px;
}
.team__row {
    display: flex;
    flex-wrap: wrap;
}
.team__item {
    flex: 0 1 16.666%;
}
@media (max-width:1350px) {
    .team__item {
        flex: 0 1 33.333%;
        padding: 15px;
    }
    .team__row {
        text-align: center;
    }
}
@media (max-width:690px) {
    .team__item {
        margin: auto;
    }
}
.team__header {
    text-align: center;
    margin: 122px 0px;
}
.team__title {
    font-size: 34px;
    line-height: 106%;
}
.team__text {
    margin-top: 44px;
    font-size: 13px;
    line-height: 162%;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}
/*-------------------------------------------*/
.design {
    color: #FFFFFF;
}
.design__container {
    padding: 120px 0px;
    background-color: #9AA8B1;
    text-align: center;
}
.design__container > *:not(:first-child) {
    margin-top: 24px;
}
.design__logo {
}
.design__title {
    font-size: 43px;
    line-height: 135%;
}
.design__text {
    line-height: 171%;
    letter-spacing: 0.8px;
}
/*-------------------------------------------*/
.footer {
    background-color: #F9F9F9;
    margin-top: 39px;
}
.footer__container {
    padding-bottom: 28px;
}
.footer__logo {
    margin-left: auto;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    padding: 25px 0px;
    max-width: 82px;
    max-height: 82px;
    font-size: 16px;
    line-height: 107%;
    letter-spacing: 0.8px;
}
.footer__content {
    display: flex;
}
.footer__menu {
}
.menu {
}
.menu__list {
}
.menu__list > *:not(:first-child) {
    margin-top: 16px;
}
.menu__item {
}
.menu__link {
    color: inherit;
    font-size: 22px;
    line-height: 109%;
}
.footer__sub-body {
    margin-left: 24px;
}
.footer__sub-body > *:last-child {
    margin-top: 23px;
}
.footer__title {
    font-size: 22px;
    line-height: 109%;
}
.footer__text {
    max-width: 348px;
    color: #A0A0A0;
    line-height: 117%;
    letter-spacing: 0.8px;
}
.footer__body {
    margin-top: 84px;
    display: flex;
}
.footer__body > *:not(:last-child){
    margin-right: 38px;
}
.footer__empty {
    flex: 1;
}
.footer__item {
    color: #707A7F;
    font-size: 13px;
    line-height: 117%;
    letter-spacing: 0.8px;
}
.footer__item-black {
    color: #000000;
}